<link rel="stylesheet" type="text/css" href="/loginCSS/Register.css" />

<div class="form-container">
        <div class="page">
                <div class="container">
                        <div class="left">
                                <div class="register">Register</div>
                                <div class="description">Please register to get your ultra-dashboard!!!!!!UWU</div>
                                <% if(locals.error) { %>
                                <div class="alert alert-danger"><%= error %></div>
                                <% } %>
                                <a href="/login" class="btn btn-link description">Cancel</a>
                        </div>
                        <div class="right">
                                <form method="post">
                                        <label for="firstName">First name</label>
                                        <input type="text" name="firstName" id="firstName" class="form-control"
                                                value="<%= locals.firstName || '' %>" required />
                                        <label for="lastName">Last name</label>
                                        <input type="text" name="lastName" id="lastName" class="form-control"
                                                value="<%= locals.lastName || '' %>" required />
                                        <label for="username">Username</label>
                                        <input type="text" name="username" id="username" class="form-control"
                                                value="<%= locals.username || '' %>" required />
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" class="form-control"
                                                required />
                                        <div class="buttonContain"><button type="submit"
                                                        class="btn btn-primary">Register</button></div>
                                </form>
                        </div>
                </div>
        </div>
</div>