<div id="main_container">
    <div id="logo_navagation">
        <ul>
            <li>
                <a href="https://www.facebook.com/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="https://www.whatsapp.com/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fab fa-amazon"></i>
                </a>
            </li>
            <li>
                <a href="https://store.steampowered.com/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fab fa-steam"></i>
                </a>
            </li>
            <li>
                <a href="https://www.google.com/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>

        </ul>
    </div>

    <div id="main">
        <h1 id="main_header">
            Wellcome Back,
            <span class="txt-type" data-wait="3000" data-words='["Mr.Robot", "Developer", "Innovator"]'></span>
        </h1>
        <div id="clock_container">
            <div id="currentDate"> </div>
            <div id="clock">00:00:00</div>
            <span id="weekday"> </span>

        </div>
        <div id="weather_container">
            <div id="temp"></div>
            <div id="minutely"></div>
            <div id="location"></div>
        </div>
        <div>

        </div>
    </div>
    <!-- <div id="toDoList">
        HEADER AND TODO COUNT
        <div class="jumbotron text-center">
            <h1>{{vm.user.firstName}} 's Todolist </h1>
        </div>


        <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <div class="checkbox" ng-repeat="todo in todolist">
                    <label>
                        <input type="checkbox" ng-click="vm.deleteTodo(todo._id)"> {{ todo.text }}
                    </label>
                </div>

            </div>
        </div>


        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">


                        <input type="text" class="form-control input-lg text-center" placeholder="What is in your mind now?" ng-model="formdata.text">
                    </div>


                    <button type="submit" class="btn btn-primary btn-lg" ng-click="vm.createTodo()">Add</button>
                </form>
            </div>
        </div>-->
</div>
</div>

<footer><img id="footerThanks" src="/app/CSS/PNG/thanksLogohigh.png" alt="thanks png"></footer>


<script src="js/clock.js"></script>
<script src="js/type_writer_effect.js"></script>
<script src="js/weather.js"></script>